# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc
*.py[cod]
meme_features_cache.pkl


# --- Virtual environments ---
venv/
.venv/
env/
ENV/

# --- OS junk ---
.DS_Store
Thumbs.db

# --- Editors / IDEs ---
.vscode/
.idea/
*.swp

# --- Distribution / packaging ---
build/
dist/
*.egg-info/